header {
    min-height: 555px;
    background-color: #232E52;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    font-family: inherit;
}

.minimal-header {
    min-height: 100px;
    height: 100px;
}

.top-content-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 51px 80px 0;
}

.navigation {
    display: flex;
    width: 500px;
    align-items: center;
    justify-content: space-evenly;
}

.anchor {
    display: inline-block;
    position: relative;
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
}

.anchor:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.anchor:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.bottom-content-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #ffffff;
    margin-top: 176px;
    padding: 0 15% 143px 15%;
}

.bottom-content-header h2 {
    font-size: 52px;
    font-weight: normal;
}

.controls {
    display: flex;
    align-items: center;
}

.category-title,
.header-title {
    width: fit-content;
    padding: 8px 12px 10px;
    border: #ffffff solid 1px;
    text-transform: uppercase;
    border-radius: 6px;
}

.header-title {
    height: 42px;
    padding: 0;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.article-category {
    padding: 8px 12px 10px;
    border: #ffffff solid 1px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.article-date {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    color: #232E52;
    height: 42px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.article-date-text {
    padding: 8px 12px 10px;
}

.arrow-back {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
    background-color: #394363;
    border-radius: 50%;
    margin-right: 30px;
    opacity: 0.8;
    cursor: pointer;
}

.arrow-back:hover {
    opacity: 1;
}

.header-buttons {
    display: flex;
    align-items: center;
    column-gap: 20px;
}
