.article-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.article-page-container .subscribe-panel-container {
    margin-bottom: 120px;
}

.article-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.article-container .paragraph {
    max-width: 1000px;
    width: 1000px;
}

.move-to-edit-article-section {
    padding: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.move-to-edit-article-section p {
    margin-right: 20px;
    font-size: 20px;
}
